.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100dvh;
  overflow: clip;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 75%;
  margin: 4pt auto;
  gap: 15px;
}

a {
  color: #cd5ecd;
}

a:visited {
  color: #bb87bb;
}

.bold {
  font-weight: 500;
}

.page__wrapper {
  padding-bottom: 120px;
  margin-bottom: auto;
}

.page__wrapper.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto 0;
  padding: 0;
}

.subtitle {
  font-size: larger;
  font-weight: 500;
  width: fit-content;
  max-width: 95%;
  margin: 14pt auto 8pt;
  padding: 2pt;
}

.subtitle.underlined {
  border-bottom: 1pt solid black;
}