.App {
  height: 100vh;
  text-align: center;
}

form {
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.page__wrapper {
  padding-bottom: 120px;
}