.cache
.DS_Store
.git/
.idea
.project
.pydevproject
.sass-cache
.vagrant/
__pycache__
*.css.map
*.db
*.egg-info
*.mo
*.pyc
*.pyo
*.sqlite3
*.sql.gz
*/node_modules
dist
Dockerfile
docs
env
fly.toml
logs
node_modules
venv