.buttons {
  padding: 5px;
  background-color: #FCD8D4;
  display: flex;
  justify-content: space-between;
}

.logout {
  border-radius: 5px;;
}

.settings-icon {
  width: 3%;
  fill: darkgrey;
}

.homepage-header {
  background-color: #FCD8D4;
  padding: 5px;
}