.prefectureTable {
    display: flex;
    flex-direction: column;
    border-collapse: separate;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    /* border-bottom: 1px solid #ccc; */
  }
  
  /* .header {
    font-weight: bold;
  } */
  
  .cell {
    padding: 8px;
    flex: 1;
  }

  .backButton {
    padding: 8px;
  }


  .darkmode-input[type="radio"] {
    display: none;
  }
  
  .darkmode-label {
    display: inline-block;
    width: 50px;
    height: 30px;
    background-color: #ddd;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
  }
  
  .darkmode-input[type="radio"]:checked + .darkmode-label::before {
    content: "";
    width: 30px;
    height: 30px;
    background-color: #007bff;
    border-radius: 15px;
    position: absolute;
    top: 0;
    left: ${darkmode === "on" ? "15px" : "0"};
    transition: left 0.2s;
  }
  
 
  