body {
  background-color: #FDF6F0;
}

.signup-header {
  background-color: #FCD8D4;
  padding: 15px;
}

form {
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.div-signup-alertMessage {
  color:red;
}