.bookmark__button {
  width: 24px;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: 'flex-end';
}

.bookmark__icon--solid {
  position: relative;
  fill: royalblue;
}
