.productCard {
    margin: 20px;
    padding: 20px;
    background-color: grey;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.productCard.new {
    background-color: paleturquoise;
}

.productCard.ending {
    background-color: red;
}

.favoriteAdd {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    /* display: inline; */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: 'flex-end';
}
