/* .selectName option {
    font-size: 32px;
    
} */

select {
    background-color: rgba(26, 157, 116, 0.671);
    border: 10px solid darkcyan;
  }
  
  select option {
    background-color: rgba(26, 157, 116, 0.671);
    border: 10px solid #14169f5b;
    font-size:20px;
  }