.favoriteButton {
  width: 24px;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: 'flex-end';
}
.favorited-icon {
  position: relative;
  animation: move-left-right 2s ease-in-out infinite;
  fill:deeppink;
  
}

@keyframes move-left-right {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}







