:root {
  --small-width:30px;
  --medium-width:25px;
  --large-width:20px;
  --small-width-hover:35px;
  --medium-width-hover:30px;
  --large-width-hover:25px;
}

.nav {
  position: fixed;
  width: 100%;
  bottom: 0px;
  font-size: 0;
  background-color: #F5C6AA;
  display: flex;
  justify-content: space-around;
}

.nav ul {
  padding: 30px;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 2rem;
  width: 100%;
}

.nav li {
  justify-content: center;
  align-items: center;
  width: 25%;
  padding:0;
  margin-bottom: 10px;
  border-radius: 100px;
  border-right: 1px solid #fff;
  display: flex;
  align-items: stretch;
}

.nav__icon.home {
  fill:#33b45e;
}

.nav__icon.bkmark {
  fill: royalblue;
}

.nav__icon.log {
  fill: limegreen;
}

.nav__icon.pop {
  fill: #ff6600;
}

@media (max-width: 320px) {
  .nav__icon {
    width: var(--small-width);
  }
}
  
@media (min-width: 321px) and (max-width: 768px) {
  .nav__icon {
    width: var(--medium-width);
  }
}

@media (min-width: 769px) { 
  .nav__icon {
    width: var(--large-width);
  }
}

