:root {
    --small-width:30px;
    --medium-width:25px;
    --large-width:20px;
    --small-width-hover:35px;
    --medium-width-hover:30px;
    --large-width-hover:25px;
    
}

* {
    box-sizing: border-box;
}

li {
    margin-bottom: 10px;
    border-radius: 100px;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.nav {
    position: fixed;
    width: 100%;
    bottom: 0px;
    font-size: 0;
    opacity: 0.9;
    z-index: 99;
    display: flex;
    justify-content: space-around;
}

.nav ul {
    padding: 30px;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 2rem;
    width: 100%;
}

.nav li {
    justify-content: center;
    align-items: center;
    width: 25%;
    padding:0;
    border-right: 1px solid #fff;
    display: flex;
    align-items: stretch;
}

.home-icon {
    fill:#33b45e;
}

.heart-icon {
    fill: #d22e64;
}

.popular-icon {
    fill: #ff6600;
}

@media (max-width: 320px) {
.home-icon {
    width: var(--small-width);
  }
.heart-icon {
    width: var(--small-width);
  }
.popular-icon {
    width: var(--small-width);
    
  }
.search-icon {
    width: var(--small-width);
  }

}
  
@media (min-width: 321px) and (max-width: 768px) {
    
.home-icon {
    width: var(--medium-width);
  }
    
.heart-icon {
    width: var(--medium-width);
  }
    
.popular-icon {
    width: var(--medium-width);
  }
    
.search-icon {
    width: var(--medium-width);
  }

}

@media (min-width: 769px) {
    
.home-icon {
    width: var(--large-width); 
  }
    
.heart-icon {
    width: var(--large-width); 
  }
    
.popular-icon {
    width: var(--large-width); 
  }
    
.search-icon {
    width: var(--large-width);
  }

}

