.rating-selector {
  display: flex;
  flex-direction: row;
}

.rating-button {
  width: 24px;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  margin: 12px;
  padding: 0;
  display: flex;
  justify-content: 'flex-end';
}