.review__card {
    margin: 20px;
    padding: 20px;
    background-color: grey;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}