.admin__sending-msg {
  color: grey;
}

.admin__wrapper {
  max-width: 500pt;
  padding-right: auto;
  padding-left: auto;
  margin-right: auto;
  margin-left: auto;
  flex-direction: column;
  display: flex;
  height: 100vh;
}

.admin__form {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
}

.admin__icon.back {
  width: 40px;
  margin-top: 20px;
}