.admin__back-button {
  width: 30pt;
  margin-top: 16pt;
  margin-left: 8pt;
}

.admin__label {
  width: 300px;
}

.admin__input {
  width: 300px;
  height: 50px;
  font-size: medium;
}

.admin__location-options-button {
  width: 200px;
}

.admin__button {
  margin-top: 20px;
}

.admin__sending-msg {
  color: grey;
}