form {
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

select {
  background-color: #FCD8D4;
  border-radius: 5px;
  font-size: large;
  padding-left:3px;
}