button {
  padding: 6pt 10pt;
  background-color:#F5C6AA;
  border-radius: 4pt;
  border: none;
}

.backButton {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
}

.setting__submit-button {
  width: 70%;
  height: 40px;
  font-size: medium;
  margin-top: 10px;
}

.logout__button-wrapper {
  width: 100%;
  margin-top: auto;
}

.logout__button {
  width: 70%;
  height: 40px;
  font-size: medium;
  margin-top: 50px;
}