button {
  padding: 6pt 10pt;
  background-color:#F5C6AA;
  border-radius: 4pt;
  border: none;
}

.backButton {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
}