.product__avail-container {
    margin: 2pt 24pt -14pt;
    padding: 0 0 2pt;
    border-radius: 6pt;
    background-color: #E5E5E5;
}

.product__avail-container.new {
    background-color: #CAFFC3;
}

.product__avail-container.ending {
    background-color: #FFCFD9;
}

.product__img-container {
    height: 100%;
    margin-right: auto;
    overflow: hidden;
}

.product__img-container.left{
    border-top-left-radius: 12pt;
    border-bottom-left-radius: 12pt;
}

.product__img-container.right{
    border-top-right-radius: 12pt;
    border-bottom-right-radius: 12pt;
}

.product__button-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 50pt;
    margin: 12pt;
}