.dropdown__container {
  width: 100%;
}

.dropdown__select {
  background-color: #FCD8D4;
  border-radius: 4pt;
  border: none;
  font-size: large;
  padding-left: 5px;
  height: 40px;
  box-sizing: border-box;
  margin-bottom: 20px;
}