.header {
  padding: 20px;
  position: relative;
}

.header__logo {
  min-width: 60pt;
  max-width: 80pt;
}

.header__bottom-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 10pt;
  margin-top: 20px;
}