:root{
    --small-icon-width: 35px;
    --medium-icon-width: 33px;
    --large-icon-width: 30px;
}

.circular-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30pt; /* adjust as needed */
    height: 30pt; /* adjust as needed */
    border-radius: 50%;
    position: absolute;
    right: 0; /* right-aligned with position: absolute */
    /* background-color: #ccc; adjust as needed */
}

.settings-icon {
    fill: darkgrey;
    width: 26pt;
}

.home-header__top-container {
    padding: 10px 10px;
    display: flex;
    position: relative;/* position: relative is needed in parent div to use absolute */
}

.home-header__bottom-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 2pt;
    margin-top: 50px;
}

.home-header__pref-name {
    font-size: 24pt;
}

.home-header__subtitle {
    font-size: 12pt;
}

.header__logo {
    position: absolute;
    margin: auto;/* centered with position: absolute */
}