input {
  max-width: 100%;
  background-color: #FCD8D4;
  font-size: large;
  border: 0 none;
  border-radius: 4pt;
  margin-top: 2pt;
  padding: 6pt 10pt;
}

label {
  display: flex;
  flex-direction: column;
  text-align: left;
}