input {
    background-color: #FCD8D4;
    padding: 6pt 10pt;
    border-radius: 4pt;
    border: 0 none;
    font-size: large;
}

.usernameInput {
    width: 250px;
    height: 40px;
    box-sizing: border-box;
    font-size: large;
    padding-left: 10px;
    text-align: left;
}

label {
    width: 250px;
    text-align: left;
}

.admin__input {
    width: 300px;
    max-width: 350px;
    height: 50px;
    box-sizing: border-box;
    font-size: large;
    text-align: left;
}


.admin__form label {
    width: 300px;
    text-align: left;
}