.nav {
  position: fixed;
  width: 100%;
  bottom: 0px;
  font-size: 0;
  background-color: #F5C6AA;
  display: flex;
  justify-content: space-around;
}

.nav ul {
  padding: 30px;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 2rem;
  width: 100%;
}

.nav li {
  justify-content: center;
  align-items: center;
  width: 25%;
  padding:0;
  margin-bottom: 10px;
  border-radius: 100px;
  border-right: 1px solid #fff;
  display: flex;
  align-items: stretch;
}