.nav__container {
  position: fixed;
  width: 100%;
  bottom: 0;
  font-size: 0;
  background-color: #F5C6AA;
  display: flex;
  justify-content: space-around;
}

.nav__button-wrapper {
  padding: 10px;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 2rem;
  width: 100%;
}

.nav__button {
  padding: 5px;
  justify-content: center;
  width: 25%;
  border-radius: 100px;
  display: flex;
  align-items: stretch;
}

.unselected {
  fill: antiquewhite;
}

.nav__icon {
  height: 18pt;
}

.nav__icon.home {
  fill: #33b45e;
}
.nav__icon.bkmark {
  fill: royalblue;
}
.nav__icon.log {
  fill: limegreen;
}
.nav__icon.pop {
  fill: #ff6600;
}