:root{
  --small-width:30px;
  --medium-width:25px;
  --large-width:20px;
}
.nav {
  position: fixed;
  width: 100%;
  bottom: 0px;
  font-size: 0;
  background-color: #F5C6AA;
  display: flex;
  justify-content: space-around;
}

.nav ul {
  padding: 10px;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 2rem;
  width: 100%;
}

.nav li {
  padding: 5px;
  justify-content: center;
  width: 25%;
  border-radius: 100px;
  display: flex;
  align-items: stretch;
}

.unselected {
  fill: antiquewhite;
}

.nav__icon.home {
  fill: #33b45e;
}
.nav__icon.bkmark {
  fill: royalblue;
}
.nav__icon.log {
  fill: limegreen;
}
.nav__icon.pop {
  fill: #ff6600;
}
@media (max-width: 320px) {
  .nav__icon, .unselected {
      width: var(--small-width);
  }
} 
@media (min-width: 321px) and (max-width: 768px) {  
  .nav__icon, .unselected {
      width: var(--medium-width);
  }
}
@media (min-width: 769px) {    
  .nav__icon, .unselected {
      width: var(--large-width);
  }
}