.product__card {
    margin: 0 auto 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    max-width: 450px;
    min-width: 300px;
}

.product__title, .product__content {
    width: calc(100% - 24pt);
    border-radius: 12pt;
    background-color: white;
}

.product__title {
    margin: 14pt 12pt 10pt;
    padding: 6pt;
}

.product__name {
    font-size: 14pt;
}

.product__avail-container {
    margin: 2pt 24pt -14pt;
    padding: 0 0 2pt;
    border-radius: 6pt;
    background-color: #E5E5E5;
}

.product__avail-text {
    font-size: 12pt;
}

.product__avail-container.while-supplies {
  background-color: #c3f6ff;
}

.product__avail-text.while-supplies {
  color: #4bb1c3;
}

.product__avail-container.new {
    background-color: #CAFFC3;
}

.product__avail-text.new {
    color: #00AC08;
}

.product__avail-container.midlife {
  background-color: rgb(255, 211, 129)
}

.product__avail-text.midlife {
  color: rgb(255, 97, 40)
}

.product__avail-container.ending {
    background-color: #FFCFD9;
}

.product__avail-text.ending {
    color: #CC000E
}

.product__avail-container.ended {
  background-color: rgb(208, 208, 208);
}

.product__avail-text.ended {
  color: grey;
}

.product__content {
    display: flex;
    flex-direction: row;
    height: 180pt;
    margin: 6pt 12pt 0;
}

.product__img-container {
    height: 100%;
    margin-right: auto;
    overflow: hidden;
    border-radius: 12pt;
    display: flex;
    justify-content: center;
}

.product__img-container.left{
    border-top-left-radius: 12pt;
    border-bottom-left-radius: 12pt;
}

.product__img-container.right{
    border-top-right-radius: 12pt;
    border-bottom-right-radius: 12pt;
}

.product__img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.product__button-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 50pt;
    margin: 12pt;
}

.product__button {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    font-size: 10pt;
    cursor: pointer;
}

.product__icon {
    width: 18pt;
    margin: 4pt auto 2pt;
}