.product__card {
	max-width: 360pt;
	min-width: 225pt;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	align-content: center;
    margin: 4pt auto;
}

.product__title, .product__content {
	background-color: white;
	width: calc(100% - 24pt);
	border-radius: 12pt;
}

.product__title {
	margin: 14pt 12pt 10pt;
	padding: 6pt;
}

.product__name {
	font-size: medium;
	font-weight: 500;
}

.product__avail-container {
	background-color: #E5E5E5;
	border-radius: 6pt;
	margin: 2pt 24pt -14pt;
	padding: 0 0 2pt;
}

.product__avail-text {
	white-space: pre-line;
	font-size: medium;
	margin-top: 4pt;
}

.product__avail-container.while-supplies {
  background-color: #c3f6ff;
}

.product__avail-text.while-supplies {
  color: #4bb1c3;
}

.product__avail-container.new {
	background-color: #CAFFC3;
}

.product__avail-text.new {
	color: #00AC08;
}

.product__avail-container.midlife {
  background-color: rgb(255, 211, 129)
}

.product__avail-text.midlife {
  color: rgb(255, 97, 40)
}

.product__avail-container.ending {
	background-color: #FFCFD9;
}

.product__avail-text.ending {
	color: #CC000E;
}

.product__avail-container.ended {
  background-color: rgb(208, 208, 208);
}

.product__avail-text.ended {
  color: grey;
}

.product__avail-container.ended {
  background-color: rgb(208, 208, 208);
}

.product__avail-text.ended {
  color: grey;
}

.product__content {
	display: flex;
	flex-direction: row;
	min-height: 180pt;
	margin: 6pt 12pt 0;
}

.product__img-container {
	border-radius: 12pt;
	display: flex;
	overflow: hidden;
	margin-right: auto;
	margin-left: auto;
}

.product__img-container.left{
	border-top-left-radius: 12pt;
	border-bottom-left-radius: 12pt;
}

.product__img-container.right{
	border-top-right-radius: 12pt;
	border-bottom-right-radius: 12pt;
}

.product__img {
	max-width: 100%;
	min-height: 100%;
	object-fit: cover;
}

.product__button-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	min-width: 50pt;
	margin: 12pt;
}

.product__button {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 0 auto;
	font-size: 10pt;
	cursor: pointer;
}

.product__icon {
	width: 18pt;
	margin: 4pt auto 2pt;
}

@media (min-width: 675pt) {
	.product__card {
		max-width: 360pt;
		min-width: 300pt;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		align-content: center;
		margin: 4pt auto;
	}

	.product__title {
		margin: 14pt 12pt 15pt;
		padding: 6pt 6pt 15pt;
		height: 50pt;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
	}

	.product__avail-container {
		background-color: #E5E5E5;
		border-radius: 6pt;
		margin-left: 12pt;
		margin-right: 12pt;
		bottom: -15px;
		width: 280pt;
		height: 37.5pt;
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
	}

	.product__avail-text {
		white-space: pre-line;
		font-size: medium;
	}

	.product__content {
		display: flex;
		flex-direction: row;
		margin: 20pt 12pt 0;
		height: 225pt;
		object-fit: cover;
	}
}