.settings__back-button {
  width: 30pt;
  margin-top: 16pt;
  margin-left: 8pt;
}

.settings__button {
  margin-top: 20px;
}

.settings__save-button {
  margin-top: 10px;
}

.settings__logout-button {
  margin-top: 50px;
}